body{
	margin: 20px;
	font-family: sans-serif;
	/*background-image: url("carpool.jpg");*/
}

h1 {
 text-align: center;
}

#summary{
	margin-top: 20px;
}

#uber-lyft{
	height: 20%;
	width: 20%;
	margin: 0 auto;
	display: block;
	
}

#months{
	margin: 50px;
}

.cost rect {
  fill: #40e0d0;
}

.cost text {
  fill: white;
  font: 18px sans-serif;
  text-anchor: end;
}

.time rect {
  fill: black;
}

.time text {
  fill: white;
  font: 18px sans-serif;
  text-anchor: end;
}

.distance rect {
  fill: pink;
}

.distance text {
  fill: white;
  font: 18px sans-serif;
  text-anchor: end;
}

.graph{
	 border: 2px solid black;
	 display: inline-block;
	 text-align: center;
	
}
